.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all  .5;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
}
.nav_black{
    background-color: rgb(20, 20, 20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headre_left ul {
   
display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style: none;
    width: 140%; /* play with this number to get spacings correct */
    cursor: pointer;
    /* background-color: lightblue; */
}
.headre_left li{
    padding: 10px;
}

.header_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    
}
.header_right li{
    padding: 10px;
    
}